# --- Base Settings ---
seed: 134
sequence: 1
features: 20
batch_size: 64
epochs: 1
learning_rate: 0.003
num_class: 10
test_mode: false
fine_tune_epochs: 30
fine_tune_lr: 0.003

#active_dataset: ISCXVPN2016

# Set dependent on the input feature size.
# Sequence*features should be same as the input feature size
large_model:
  sequence: 37
  features: 20

datasets:
  ISCXVPN2016:
    num_class: 10
    classes:
      [
        "SCP",
        "SFTP",
        "Facebook",
        "Email",
        "YouTube",
        "Spotify",
        "AIM Chat",
        "VoIP Buster",
        "Skype",
        "Vimeo",
      ]
    feature_file: "top_features_ISCXVPN2016.npy"

  MALAYAGT:
    num_class: 10
    classes:
      [
        "Bittorent",
        "ChromeRDP",
        "Discord",
        "EAOrigin",
        "MicrosoftTeams",
        "Slack",
        "Steam",
        "Teamviewer",
        "Webex",
        "Zoom",
      ]
    feature_file: "top_features_MALAYAGT.npy"
